.man{
    width: 50px;
    height: 100px;
    background-color:red;
    position: absolute;
    bottom: 0;
    left: 5px;
}

.man img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px; 
    height: 80px;
}

.main{
    width: 600px; 
    height: 300px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-image: url('https://static.packt-cdn.com/products/9781786466198/graphics/image_01_025.jpg');
    background-position: top;
    background-size: cover;
    perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 5s linear infinite;
}

@keyframes animation {
    0% { background-position: 0 0; }
    100% { background-position: -1000px 0; }
}

.rock{
    position: absolute;
    bottom: 0px;
    background-color: black;
    width: 50px;
    height: 50px;
}