
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 500px;
    padding: 5rem;
}


section{
    width: 100%;
    margin: 8rem auto;
    
}

.main{
    width: 300px;
    margin: 0 auto;
    height: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
}

button{
    
    width:100%;
    height: 40px;
}

.row{
    
    height: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: red;
}


.col-3{
    
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}

p{
    
}

.text-area{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
















